@import 'variables.scss';

.cards {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-template-rows: auto;
    padding: 0.75rem 0;
}

.card {
    background: var(--bg-2);
    border: 0.125rem solid var(--border-color);
    border-radius: 0.75rem;
    min-height: 6.25rem;
    overflow: hidden;
}

.card-info {
    padding: 1.5rem;
}

.card-title {
    margin-top: 0;
}

.card-cover {
    background-color: var(--border-color);
    border: unset;
    width: 100%;
}

.card-metadata time {
    color: grey;
}

.card-description {
    margin-top: 0.5rem;
    overflow: hidden;
}

@media all and (max-width: $breakpoint-md) {
    .cards {
        gap: 1.125rem;
    }
}
