<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.description %}
        <meta name="author" content="{{ config.author }}">
    {% endif %}
    <meta name="author" content="Matthieu Mezirard" />
    {% if page.description %}
        <meta name="description" content="{{ page.description }}">
    {% elif section.description %}
        <meta name="description" content="{{ section.description }}">
    {% endif %}
    <title>
        {% if page %}
            {% set trimmed_path = page.path | trim_start_matches(pat="/") | trim_end_matches(pat="/") %}
        {% elif section %}
            {% set trimmed_path = section.path | trim_start_matches(pat="/") | trim_end_matches(pat="/") %}
        {% else %}
            {% set trimmed_path = "404" %}
        {% endif %}
        {{ config.extra.path_prefix }}{{ trimmed_path }}{{ config.extra.path_suffix }}
    </title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link
        id="theme-light-style"
        rel="stylesheet"
        type="text/css"
        href="/theme/light.css"
    />
    <link
        id="theme-dark-style"
        rel="stylesheet"
        type="text/css"
        href="/theme/dark.css"
    />
    <script
        async
        src="https://eu.umami.is/script.js"
        data-website-id="ab1b120c-cc97-47d0-bddb-d1a96cb06e5a"
    ></script>
    <script src="/js/theme-toggle.js"></script>
    <script src="/js/code-wrapper.js"></script>
    <script src="/js/code-indicator.js"></script>
</head>
